<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Order</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 home-jumbo">
        <div class="container-fluid py-5 text-white text-center">
            <h1 class="display-3 fw-bold">ORDERS LIST</h1>
            <a th:href="@{/}">Main page</a>
        </div>
    </div>
    <div class="text-center mb-3">
        <a th:href="@{/panel/orders?status=NEW}"
           th:classappend="${status == 'NEW'}"
           class="btn btn-primary mx-2">NEW</a>
        <a th:href="@{/panel/orders?status=IN_PROGRESS}"
           th:classappend="${status == 'IN_PROGRESS'}"
           class="btn btn-warning mx-2">IN PROGRESS</a>
        <a th:href="@{/panel/orders?status=COMPLETED}"
           th:classappend="${status == 'COMPLETED'}"
           class="btn btn-success mx-2">COMPLETED</a>
    </div>
    <div class="col-6 offset-3" th:if="${!orders.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Address</th>
                <th scope="col">Telephone</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="order, idx: ${orders}" style="cursor: pointer;"
                th:onclick="|window.location.href='/panel/orders/${order.id}'|">
                <th scope="row" th:text="${idx.index+1}">1</th>
                <td th:text="${order.address}">Plac wolnosci 112</td>
                <td th:text="${order.phone}">888999777</td>
                <td th:text="${order.status}">NEW</td>
                <td><a th:href="@{'/panel/orders/' + ${order.id}}" class="btn btn-primary">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>